* {
  margin: 0 auto;
  padding: 0;
  border: none;
}
li {
  list-style-type: none;
  display: inline-block;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
.header .header-bar {
  background-color: #333;
  height: 40px;
}
.header .header-bar .header-container {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  background-color: #333;
}
.header-container .header-left {
  height: 30px;
  float: left;
  width: fit-content;
  margin: 8px 0 4px 0;
}
.header-container .header-left a {
  color: #b0b0b0;
  font-size: 12px;
}
.header-container .header-left a:hover {
  color: whitesmoke;
}
.header-container .header-mid {
  height: 30px;
  float: right;
  width: fit-content;
  margin: 8px 0 4px 0;
}
.header-container .header-mid a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 12px;
}
.header-container .header-mid a:hover {
  color: whitesmoke;
}
.header-container .header-right {
  height: 100%;
  width: 120px;
  background-color: #424242;
  float: right;
  margin-left: 30px;
  color: #b0b0b0;
}
.header-container .header-right a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  color: #b0b0b0;
  line-height: 40px;
  font-size: 12px;
}
.seperate {
  display: inline-block;
  padding: 6px;
  color: #494949;
  font-size: 10px;
}
.header-main {
  height: 100px;
}
.header-main .header-main-container {
  width: 1226px;
  height: 100%;
  position: relative;
  display: flex;
}
.header-main .header-main-container #logo {
  position: absolute;
  left: 2px;
  top: 20px;
  margin: 0;
  background-image: url(../img/logo-mi2.png);
  background-size: 56px;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
}
.header-main .header-main-container .main-list {
  float: left;
  margin: auto 0 auto 220px;
}
.header-main .header-main-container .main-list ul li {
  display: inline-block;
  padding: 8px;
  font-size: 16px;
}
.header-main .header-main-container .main-list ul li a:hover {
  color: #ff6a00;
  transition: 0.2s;
}
.header-main .header-main-container form {
  border: 1px solid #d6d6d6;
  margin: auto 0 auto auto;
  height: 46px;
}
.header-main .header-main-container form button {
  float: left;
  margin: auto 0;
  height: 46px;
  width: 46px;
  outline: none;
  border-left: 1px solid #d6d6d6;
  background-color: transparent;
}
.header-main .header-main-container form button:hover {
  cursor: pointer;
  background-color: #ff6a00;
}
.header-main .header-main-container form:hover {
  border: 1px solid #b3b3b3;
}
#inputText {
  float: left;
  outline: none;
  height: 100%;
  width: 230px;
  color: #5c5c5c;
  padding-left: 10px;
}
.nav-main {
  position: relative;
  height: 670px;
  width: 1226px;
  background-color: #f0d6d1;
  margin: 0 auto;
}
.nav-top {
  overflow: hidden;
  width: 1226px;
  height: 460px;
}
.nav-top .nav-select {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 234px;
  background-color: rgba(113, 126, 124, 0.5);
  padding: 20px 0;
}
.nav-top .nav-select ul li {
  line-height: 42px;
  display: block;
  height: 42px;
  padding: 0 30px;
  color: whitesmoke;
  font-size: 14px;
}
.nav-top .nav-select ul li:hover {
  background-color: #ff6a00;
  cursor: pointer;
}
.nav-top #change-img-left {
  position: absolute;
  height: 69px;
  z-index: 2;
  width: 41px;
  top: 195px;
  left: 234px;
  background-image: url(../img/icon-slides.png);
  background-position-x: -83px;
}
.nav-top #change-img-left:hover {
  background-position-x: 0px;
  cursor: pointer;
}
.nav-top #change-img-right {
  position: absolute;
  margin: auto 0;
  z-index: 2;
  top: 195px;
  left: 1185px;
  height: 69px;
  width: 41px;
  background-image: url(../img/icon-slides.png);
  background-position-x: -124px;
}
.nav-top #change-img-right:hover {
  background-position-x: -42px;
  cursor: pointer;
}
#imgBox {
  width: 500%;
  height: 100%;
  position: relative;
  left: -1226px;
}
#imgBox .img-roll {
  float: left;
  z-index: 1;
  width: 1226px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#imgBox .firstImg {
  background-image: url(../img/d2082a18632ef1f7aa06d90b39a8c06b.jpg);
}
#imgBox .secondImg {
  background-image: url(../img/918820682e4a490221cfd92b24c14b86.webp);
}
#imgBox .thirdImg {
  background-image: url(../img/4a93f74d4d200fee5ec31cd9256611e7.webp);
}
.container {
  height: 5013px;
  width: 100%;
  background-color: #e7e7e7;
  margin: 0 auto;
}
.footer .footer-service {
  width: 1226px;
  padding: 27px 0px;
  background-color: whitesmoke;
}
.footer .footer-link {
  width: 1226px;
  padding: 40px 0;
  height: 200px;
  background-color: yellowgreen;
}
